// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Brevo from "../../../index.js";

export declare namespace CustomObjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomObjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomObjectsClient.Options>;

    constructor(options: CustomObjectsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * <Note title="Enterprise access only">
     * Custom objects are only available to Enterprise plans.
     *
     * This feature is in beta. These are subject to change.
     * </Note>
     *
     * This API allows bulk upsert of object records in a single request. Each object record may include
     *   - Attributes
     *   - Identifiers
     *   - Associations
     * **Response:**
     *   The API processes the request asynchronously and returns a processId that you can use to track the background process status.
     * **API and Schema Limitation:**
     *   - Size:
     *       - Max 1000 objects records per request
     *       - Max request body size: 1 MB
     *   - Max 500 attributes defined per object record upsert request
     *     - This is coherent with schema limitation: an object cannot have more than 500 attributes.
     *     - Worth noting: Nothing happens If an attribute is mentioned in the request, but was not previously defined for the object schema (no error, no attribute creation)
     *   - Max 10 associations defined per object record upsert request
     *     - This is coherent with schema limitation: an object cannot have more than 10 associations with other objects. and each object record can be linked to max 10 other records.
     * **Errors:**
     *     - Make sure both object records exist before associating them, else the API will return an error.
     *     - This route does not create objects. The object where the object records are upserted by this API must be created already else the API will return an error "invalid object type".
     *
     * @param {Brevo.UpsertrecordsRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.NotFoundError}
     * @throws {@link Brevo.InternalServerError}
     *
     * @example
     *     await client.customObjects.upsertrecords({
     *         object_type: "vehicle",
     *         records: [{}]
     *     })
     */
    public upsertrecords(
        request: Brevo.UpsertrecordsRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.UpsertrecordsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__upsertrecords(request, requestOptions));
    }

    private async __upsertrecords(
        request: Brevo.UpsertrecordsRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.UpsertrecordsResponse>> {
        const { object_type: objectType, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `objects/${core.url.encodePathParam(objectType)}/batch/upsert`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.UpsertrecordsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Brevo.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/objects/{object_type}/batch/upsert",
        );
    }

    /**
     * <Note title="Enterprise access only">
     * Custom objects are only available to Enterprise plans.
     *
     * This feature is in beta. These are subject to change.
     * </Note>
     *
     * This API retrieves a list of object records along with their associated records and provides the total count of records for the specified object. **Note**: Contact as object type is not supported in this endpoint.
     *
     * @param {Brevo.GetrecordsRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.FailedDependencyError}
     * @throws {@link Brevo.InternalServerError}
     *
     * @example
     *     await client.customObjects.getrecords({
     *         object_type: "vehicle",
     *         limit: 1000000,
     *         page_num: 1000000
     *     })
     */
    public getrecords(
        request: Brevo.GetrecordsRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetrecordsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getrecords(request, requestOptions));
    }

    private async __getrecords(
        request: Brevo.GetrecordsRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetrecordsResponse>> {
        const { object_type: objectType, limit, page_num: pageNum, sort, association } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page_num: pageNum,
            sort: sort != null ? sort : undefined,
            association: association != null ? association : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `objects/${core.url.encodePathParam(objectType)}/records`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetrecordsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 424:
                    throw new Brevo.FailedDependencyError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Brevo.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/objects/{object_type}/records",
        );
    }

    /**
     * Use this endpoint to delete multiple object records of the same object-type in one request.
     * The request is accepted and processed asynchronously.   You can track the status of the deletion process using the returned **processId**.
     * **API and Schema Limitations:** - Each request can contain up to **1000** object record identifiers   - If more records must be deleted → send multiple batch requests
     *
     * @param {Brevo.BatchDeleteObjectRecordsRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.NotFoundError}
     * @throws {@link Brevo.InternalServerError}
     *
     * @example
     *     await client.customObjects.batchDeleteObjectRecords({
     *         object_type: "vehicle",
     *         identifiers: {
     *             ext_ids: ["ext-001", "ext-002"]
     *         }
     *     })
     */
    public batchDeleteObjectRecords(
        request: Brevo.BatchDeleteObjectRecordsRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.BatchDeleteObjectRecordsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batchDeleteObjectRecords(request, requestOptions));
    }

    private async __batchDeleteObjectRecords(
        request: Brevo.BatchDeleteObjectRecordsRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.BatchDeleteObjectRecordsResponse>> {
        const { object_type: objectType, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `objects/${core.url.encodePathParam(objectType)}/batch/delete`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Brevo.BatchDeleteObjectRecordsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Brevo.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/objects/{object_type}/batch/delete",
        );
    }
}
