// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Brevo from "../../../index.js";

export declare namespace OAuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OAuthClient {
    protected readonly _options: NormalizedClientOptions<OAuthClient.Options>;

    constructor(options: OAuthClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Exchanges an app's client_id/client_secret for a short-lived access token using the OAuth 2.0 client_credentials grant (RFC 6749 §4.4). Confirmed working via a direct manual test (2026-09-18). See docs/superpowers/specs/ for the design.
     *
     * @param {Brevo.GetOAuthM2MTokenRequest} request
     * @param {OAuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.BrevoError}
     * @throws {@link errors.BrevoTimeoutError}
     *
     * @example
     *     await client.oAuth.getOAuthM2MToken({
     *         client_id: "client_id",
     *         client_secret: "client_secret"
     *     })
     */
    public getOAuthM2MToken(
        request: Brevo.GetOAuthM2MTokenRequest,
        requestOptions?: OAuthClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetOAuthM2MTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOAuthM2MToken(request, requestOptions));
    }

    private async __getOAuthM2MToken(
        request: Brevo.GetOAuthM2MTokenRequest,
        requestOptions?: OAuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetOAuthM2MTokenResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.BrevoEnvironment.Default)
                        .oAuth,
                "oauth/token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "form",
            body: mergeAdditionalBodyParameters(
                { ...request, grant_type: "client_credentials" },
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetOAuthM2MTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BrevoError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/oauth/token");
    }
}
