{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "unused-imports"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "unused-imports/no-unused-imports-ts" : 2,
        "@typescript-eslint/ban-types" : "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-namespace": "off",
        "no-self-assign": "off",
        "@typescript-eslint/adjacent-overload-signatures": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
    }
  }