// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Brevo from "../../../index.js";

export declare namespace DomainsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DomainsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DomainsClient.Options>;

    constructor(options: DomainsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves all domains associated with the account.
     *
     * Use this to:
     * - List all domains
     * - Verify domain existence
     * - Check domain authentication and verification status
     * - Monitor domain configuration and provider information
     * - Review domain creation history and ownership
     *
     * Key information returned:
     * - Domain details (ID, name, authentication status)
     * - Verification and authentication states
     * - Associated IP addresses and DNS providers
     * - Creator information and creation timestamps
     * - Pagination information for large domain lists
     *
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     *
     * @example
     *     await client.domains.getDomains()
     */
    public getDomains(
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDomains(requestOptions));
    }

    private async __getDomains(
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetDomainsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "senders/domains",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetDomainsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/senders/domains");
    }

    /**
     * Creates a new domain in Brevo.
     *
     * Use this to:
     * - Add new domains for sending emails
     * - Set up domain authentication for better deliverability
     * - Configure DNS records for email authentication
     * - Establish domain-based sender identities
     *
     * Key information returned:
     * - Created domain ID and configuration
     * - Required DNS records for authentication
     * - Domain provider detection results
     * - Setup instructions and next steps
     *
     * @param {Brevo.CreateDomainRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     *
     * @example
     *     await client.domains.createDomain({
     *         name: "mycompany.com"
     *     })
     *
     * @example
     *     await client.domains.createDomain({
     *         name: "newsletter.mycompany.com"
     *     })
     *
     * @example
     *     await client.domains.createDomain({
     *         name: "test.example.com"
     *     })
     */
    public createDomain(
        request: Brevo.CreateDomainRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.CreateDomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDomain(request, requestOptions));
    }

    private async __createDomain(
        request: Brevo.CreateDomainRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.CreateDomainResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "senders/domains",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.CreateDomainResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/senders/domains");
    }

    /**
     * Retrieves configuration of a specific domain, to know if the domain is valid or not.
     *
     * Use this to:
     * - Check domain configuration
     * - Validate a domain configuration
     * - Monitor DNS record status
     * - Troubleshoot authentication issues
     *
     * Key information returned:
     * - Domain verification and authentication status
     * - DNS records configuration and validation status
     * - Detailed authentication requirements
     *
     * @param {Brevo.GetDomainConfigurationRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     *
     * @example
     *     await client.domains.getDomainConfiguration({
     *         domainName: "domainName"
     *     })
     */
    public getDomainConfiguration(
        request: Brevo.GetDomainConfigurationRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetDomainConfigurationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDomainConfiguration(request, requestOptions));
    }

    private async __getDomainConfiguration(
        request: Brevo.GetDomainConfigurationRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetDomainConfigurationResponse>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `senders/domains/${core.url.encodePathParam(domainName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetDomainConfigurationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/senders/domains/{domainName}");
    }

    /**
     * Deletes a domain from Brevo.
     *
     * Use this to:
     * - Remove existing domains
     * - Clean up unused domain configurations
     * - Remove test domains
     *
     * Key information returned:
     * - Success confirmation message
     *
     * @param {Brevo.DeleteDomainRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     *
     * @example
     *     await client.domains.deleteDomain({
     *         domainName: "domainName"
     *     })
     */
    public deleteDomain(
        request: Brevo.DeleteDomainRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDomain(request, requestOptions));
    }

    private async __deleteDomain(
        request: Brevo.DeleteDomainRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `senders/domains/${core.url.encodePathParam(domainName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/senders/domains/{domainName}",
        );
    }

    /**
     * Authenticates a specific domain.
     *
     * Use this to:
     * - Authenticate a domain
     * - Verify DNS record configuration
     * - Complete domain setup for sending
     * - Enable domain for email authentication
     *
     * Key information returned:
     * - Authentication success confirmation
     * - Domain readiness status for email sending
     *
     * @param {Brevo.AuthenticateDomainRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     *
     * @example
     *     await client.domains.authenticateDomain({
     *         domainName: "domainName"
     *     })
     */
    public authenticateDomain(
        request: Brevo.AuthenticateDomainRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.AuthenticateDomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__authenticateDomain(request, requestOptions));
    }

    private async __authenticateDomain(
        request: Brevo.AuthenticateDomainRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.AuthenticateDomainResponse>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `senders/domains/${core.url.encodePathParam(domainName)}/authenticate`,
            ),
            method: "PUT",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.AuthenticateDomainResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/senders/domains/{domainName}/authenticate",
        );
    }
}
