// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Brevo from "../../../index.js";

export declare namespace TasksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TasksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TasksClient.Options>;

    constructor(options: TasksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Brevo.GetCrmTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     *
     * @example
     *     await client.tasks.getAllTasks({
     *         sortBy: "name"
     *     })
     */
    public getAllTasks(
        request: Brevo.GetCrmTasksRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetCrmTasksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAllTasks(request, requestOptions));
    }

    private async __getAllTasks(
        request: Brevo.GetCrmTasksRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetCrmTasksResponse>> {
        const {
            "filter[type]": filterType,
            "filter[status]": filterStatus,
            "filter[date]": filterDate,
            "filter[assignTo]": filterAssignTo,
            "filter[contacts]": filterContacts,
            "filter[deals]": filterDeals,
            "filter[companies]": filterCompanies,
            dateFrom,
            dateTo,
            offset,
            limit,
            sort,
            sortBy,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "filter[type]": filterType,
            "filter[status]": filterStatus != null ? filterStatus : undefined,
            "filter[date]": filterDate != null ? filterDate : undefined,
            "filter[assignTo]": filterAssignTo,
            "filter[contacts]": filterContacts,
            "filter[deals]": filterDeals,
            "filter[companies]": filterCompanies,
            dateFrom,
            dateTo,
            offset,
            limit,
            sort: sort != null ? sort : undefined,
            sortBy,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "crm/tasks",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetCrmTasksResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/crm/tasks");
    }

    /**
     * @param {Brevo.PostCrmTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     *
     * @example
     *     await client.tasks.createATask({
     *         date: "2021-11-01T17:44:54Z",
     *         name: "Task: Connect with client_dev",
     *         taskTypeId: "61a5cd07ca1347c82306ad09"
     *     })
     */
    public createATask(
        request: Brevo.PostCrmTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.PostCrmTasksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createATask(request, requestOptions));
    }

    private async __createATask(
        request: Brevo.PostCrmTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.PostCrmTasksResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "crm/tasks",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.PostCrmTasksResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/crm/tasks");
    }

    /**
     * @param {Brevo.GetCrmTasksIdRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     *
     * @example
     *     await client.tasks.getATask({
     *         id: "id"
     *     })
     */
    public getATask(
        request: Brevo.GetCrmTasksIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.Task> {
        return core.HttpResponsePromise.fromPromise(this.__getATask(request, requestOptions));
    }

    private async __getATask(
        request: Brevo.GetCrmTasksIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.Task>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `crm/tasks/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/crm/tasks/{id}");
    }

    /**
     * @param {Brevo.DeleteCrmTasksIdRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     *
     * @example
     *     await client.tasks.deleteATask({
     *         id: "id"
     *     })
     */
    public deleteATask(
        request: Brevo.DeleteCrmTasksIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteATask(request, requestOptions));
    }

    private async __deleteATask(
        request: Brevo.DeleteCrmTasksIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `crm/tasks/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/crm/tasks/{id}");
    }

    /**
     * @param {Brevo.PatchCrmTasksIdRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     *
     * @example
     *     await client.tasks.updateATask({
     *         id: "id"
     *     })
     */
    public updateATask(
        request: Brevo.PatchCrmTasksIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__updateATask(request, requestOptions));
    }

    private async __updateATask(
        request: Brevo.PatchCrmTasksIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `crm/tasks/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/crm/tasks/{id}");
    }

    /**
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.getAllTaskTypes()
     */
    public getAllTaskTypes(
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetCrmTasktypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAllTaskTypes(requestOptions));
    }

    private async __getAllTaskTypes(
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetCrmTasktypesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "crm/tasktypes",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetCrmTasktypesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BrevoError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/crm/tasktypes");
    }
}
