// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Brevo from "../../../index.js";

export declare namespace InboundParsingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InboundParsingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InboundParsingClient.Options>;

    constructor(options: InboundParsingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * This endpoint will show the list of all the events for the received emails.
     *
     * @param {Brevo.GetInboundEmailEventsRequest} request
     * @param {InboundParsingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     *
     * @example
     *     await client.inboundParsing.getInboundEmailEvents()
     */
    public getInboundEmailEvents(
        request: Brevo.GetInboundEmailEventsRequest = {},
        requestOptions?: InboundParsingClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetInboundEmailEventsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInboundEmailEvents(request, requestOptions));
    }

    private async __getInboundEmailEvents(
        request: Brevo.GetInboundEmailEventsRequest = {},
        requestOptions?: InboundParsingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetInboundEmailEventsResponse>> {
        const { sender, startDate, endDate, limit, offset, sort } = request;
        const _queryParams: Record<string, unknown> = {
            sender,
            startDate,
            endDate,
            limit,
            offset,
            sort: sort != null ? sort : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "inbound/events",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.GetInboundEmailEventsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/inbound/events");
    }

    /**
     * This endpoint will show the list of all events history for one particular received email.
     *
     * @param {Brevo.GetInboundEmailEventsByUuidRequest} request
     * @param {InboundParsingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     *
     * @example
     *     await client.inboundParsing.getInboundEmailEventsByUuid({
     *         uuid: "uuid"
     *     })
     */
    public getInboundEmailEventsByUuid(
        request: Brevo.GetInboundEmailEventsByUuidRequest,
        requestOptions?: InboundParsingClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.GetInboundEmailEventsByUuidResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInboundEmailEventsByUuid(request, requestOptions));
    }

    private async __getInboundEmailEventsByUuid(
        request: Brevo.GetInboundEmailEventsByUuidRequest,
        requestOptions?: InboundParsingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.GetInboundEmailEventsByUuidResponse>> {
        const { uuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `inbound/events/${core.url.encodePathParam(uuid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Brevo.GetInboundEmailEventsByUuidResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/inbound/events/{uuid}");
    }

    /**
     * This endpoint will retrieve inbound attachment with download token.
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.NotFoundError}
     */
    public getInboundEmailAttachment(
        request: Brevo.GetInboundEmailAttachmentRequest,
        requestOptions?: InboundParsingClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInboundEmailAttachment(request, requestOptions));
    }

    private async __getInboundEmailAttachment(
        request: Brevo.GetInboundEmailAttachmentRequest,
        requestOptions?: InboundParsingClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { downloadToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `inbound/attachments/${core.url.encodePathParam(downloadToken)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/inbound/attachments/{downloadToken}",
        );
    }
}
