// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Brevo from "../../../index.js";

export declare namespace WalletClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WalletClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WalletClient.Options>;

    constructor(options: WalletClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generate a wallet installation URL for a specific contact. The returned URL points to the pass installation page and encodes the pass, contact and organization identifiers as an encrypted token, so it can be shared with the contact (email, SMS, QR code, ...) to add the pass to their Apple Wallet or Google Wallet.
     *
     * @param {Brevo.GetWalletPassInstallUrlRequest} request
     * @param {WalletClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.UnauthorizedError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.NotFoundError}
     * @throws {@link Brevo.UnprocessableEntityError}
     * @throws {@link Brevo.InternalServerError}
     *
     * @example
     *     await client.wallet.getWalletPassInstallUrl({
     *         passId: "passId",
     *         contactId: 1000000
     *     })
     */
    public getWalletPassInstallUrl(
        request: Brevo.GetWalletPassInstallUrlRequest,
        requestOptions?: WalletClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.WalletPassInstallUrl> {
        return core.HttpResponsePromise.fromPromise(this.__getWalletPassInstallUrl(request, requestOptions));
    }

    private async __getWalletPassInstallUrl(
        request: Brevo.GetWalletPassInstallUrlRequest,
        requestOptions?: WalletClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.WalletPassInstallUrl>> {
        const { passId, contactId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `wallet/passes/${core.url.encodePathParam(passId)}/installUrl/${core.url.encodePathParam(contactId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.WalletPassInstallUrl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Brevo.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Brevo.UnprocessableEntityError(
                        _response.error.body as Brevo.ErrorModel,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Brevo.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/wallet/passes/{passId}/installUrl/{contactId}",
        );
    }
}
