// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Brevo from "../../../index.js";

export declare namespace ConsentGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConsentGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConsentGroupsClient.Options>;

    constructor(options: ConsentGroupsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of consent groups for the account.
     *
     * <Note>This endpoint is only available when the Consent Groups feature is enabled for your account. Returns `403` if the feature is not activated.</Note>
     *
     * @param {Brevo.GetConsentGroupsRequest} request
     * @param {ConsentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.TooManyRequestsError}
     * @throws {@link errors.BrevoError}
     * @throws {@link errors.BrevoTimeoutError}
     *
     * @example
     *     await client.consentGroups.getConsentGroups()
     */
    public getConsentGroups(
        request: Brevo.GetConsentGroupsRequest = {},
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.ConsentGroupsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getConsentGroups(request, requestOptions));
    }

    private async __getConsentGroups(
        request: Brevo.GetConsentGroupsRequest = {},
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.ConsentGroupsListResponse>> {
        const { limit, offset, id, name, signupMode } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            id,
            name,
            signupMode: signupMode != null ? signupMode : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "contacts/consent-groups",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.ConsentGroupsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Brevo.TooManyRequestsError(
                        _response.error.body as Brevo.ErrorModel,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/contacts/consent-groups");
    }

    /**
     * Creates a new consent group for the account.
     *
     * <Note>This endpoint is only available when the Consent Groups feature is enabled for your account.</Note>
     *
     * @param {Brevo.CreateConsentGroupRequest} request
     * @param {ConsentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.ConflictError}
     * @throws {@link errors.BrevoError}
     * @throws {@link errors.BrevoTimeoutError}
     *
     * @example
     *     await client.consentGroups.createConsentGroup({
     *         name: "Newsletter EU",
     *         signupMode: "manual"
     *     })
     */
    public createConsentGroup(
        request: Brevo.CreateConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.ConsentGroup> {
        return core.HttpResponsePromise.fromPromise(this.__createConsentGroup(request, requestOptions));
    }

    private async __createConsentGroup(
        request: Brevo.CreateConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.ConsentGroup>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                "contacts/consent-groups",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.ConsentGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Brevo.ConflictError(_response.error.body as Brevo.ErrorModel, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/contacts/consent-groups");
    }

    /**
     * Returns a single consent group by ID for the account.
     *
     * <Note>This endpoint is only available when the Consent Groups feature is enabled for your account.</Note>
     *
     * @param {Brevo.GetConsentGroupRequest} request
     * @param {ConsentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.NotFoundError}
     * @throws {@link errors.BrevoError}
     * @throws {@link errors.BrevoTimeoutError}
     *
     * @example
     *     await client.consentGroups.getConsentGroup({
     *         id: 1000000
     *     })
     */
    public getConsentGroup(
        request: Brevo.GetConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.ConsentGroup> {
        return core.HttpResponsePromise.fromPromise(this.__getConsentGroup(request, requestOptions));
    }

    private async __getConsentGroup(
        request: Brevo.GetConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.ConsentGroup>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `contacts/consent-groups/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.ConsentGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/contacts/consent-groups/{id}");
    }

    /**
     * Updates name, description, or signupMode of a consent group. At least one field must be provided.
     *
     * <Note>This endpoint is only available when the Consent Groups feature is enabled for your account.</Note>
     *
     * @param {Brevo.UpdateConsentGroupRequest} request
     * @param {ConsentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.NotFoundError}
     * @throws {@link Brevo.ConflictError}
     * @throws {@link errors.BrevoError}
     * @throws {@link errors.BrevoTimeoutError}
     *
     * @example
     *     await client.consentGroups.updateConsentGroup({
     *         id: 1000000
     *     })
     */
    public updateConsentGroup(
        request: Brevo.UpdateConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Brevo.ConsentGroup> {
        return core.HttpResponsePromise.fromPromise(this.__updateConsentGroup(request, requestOptions));
    }

    private async __updateConsentGroup(
        request: Brevo.UpdateConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Brevo.ConsentGroup>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `contacts/consent-groups/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Brevo.ConsentGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Brevo.ConflictError(_response.error.body as Brevo.ErrorModel, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/contacts/consent-groups/{id}");
    }

    /**
     * Deletes a consent group by ID and removes it from all associated contacts.
     *
     * <Note>This endpoint is only available when the Consent Groups feature is enabled for your account.</Note>
     *
     * @param {Brevo.DeleteConsentGroupRequest} request
     * @param {ConsentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Brevo.BadRequestError}
     * @throws {@link Brevo.ForbiddenError}
     * @throws {@link Brevo.NotFoundError}
     * @throws {@link errors.BrevoError}
     * @throws {@link errors.BrevoTimeoutError}
     *
     * @example
     *     await client.consentGroups.deleteConsentGroup({
     *         id: 1000000
     *     })
     */
    public deleteConsentGroup(
        request: Brevo.DeleteConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteConsentGroup(request, requestOptions));
    }

    private async __deleteConsentGroup(
        request: Brevo.DeleteConsentGroupRequest,
        requestOptions?: ConsentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoEnvironment.Default,
                `contacts/consent-groups/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Brevo.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Brevo.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Brevo.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/contacts/consent-groups/{id}",
        );
    }
}
